<app-module-index [acRoute]="activatedRoute"></app-module-index>
<div class="site-page-header-ghost-wrapper">
    <nz-page-header [nzGhost]="false">
        <nz-page-header-content>
            <form nz-form [formGroup]="crudForm" (ngSubmit)="createOrUpdate()">
                <div nz-row>
                    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">

                    </div>
                </div>
                <app-form-submit-buttons [crudOps]="crudOps" [crudForm]="crudForm"></app-form-submit-buttons>
            </form>
            <nz-divider></nz-divider>
        </nz-page-header-content>
    </nz-page-header>
</div>
