<form nz-form [formGroup]="crudForm" (ngSubmit)="createOrUpdate()">
    <app-form-general [parentForm]="crudForm" [pageName]="pageName" [crudOps]="crudOps"
                      [object]="object"></app-form-general>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-select-one formControlName="type" controlName="type"
                                 [controlOptions]="engineTypeOptions"
                                 [pageName]="pageName" [crudOps]="crudOps"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="16" [nzMd]="16" [nzLg]="16" [nzXl]="16" [nzXXl]="16">
            <app-form-input controlName="serviceURL" [controlDesc]="controlDesc.url"
                            [pageName]="pageName" [crudOps]="crudOps" formControlName="serviceURL"/>
        </div>
    </div>
    <div nz-row>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-numeric controlName="timeout" [controlDesc]="controlDesc.numeric"
                              [pageName]="pageName" [crudOps]="crudOps" formControlName="timeout"/>
        </div>
        <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="8">
            <app-form-numeric controlName="priority" [controlDesc]="controlDesc.numeric"
                              [pageName]="pageName" [crudOps]="crudOps" formControlName="priority"/>
        </div>
    </div>
    <app-form-audit [object]="object" [crudOps]="crudOps"></app-form-audit>
    <app-form-submit-buttons [crudOps]="crudOps" [crudForm]="crudForm"></app-form-submit-buttons>
</form>
